@use '@styles/shared/variables.scss' as *;

.logo {
  &_container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    opacity: 0.8;
    & svg {
      @media screen and (max-width: 1450px) {
        transform: scale(0.9);
      }
      & g {
        & rect:nth-child(1) {
          transition: all 0.3s;
        }
        & rect:nth-child(2) {
          transition: all 0.3s;
        }
      }
    }
    &:hover {
      cursor: pointer;
      & svg {
        & g {
          & rect:nth-child(1) {
            transform: translateX(9px) translateY(6.5px);
          }
          & rect:nth-child(2) {
            transform: translateX(-9px) translateY(-6.5px);
          }
        }
      }
    }
  }
  &_text {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15px;

    color: $accent-color;

    @media screen and (max-width: 1450px) {
      font-size: 24px;
      margin-left: 10px;
    }
    & b {
      font-weight: 500;
      font-size: 28px;
      line-height: 100%;
      color: $active-color;

      @media screen and (max-width: 1450px) {
        font-size: 24px;
      }
    }
  }
}
