@use '@styles/shared/variables.scss' as *;

.avatarcard {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_image {
    & img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &_buttons {
    margin-top: 20px;
    & button {
      width: fit-content;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      color: rgba($primary-color, 0.7);
      text-transform: capitalize;
      padding: 10px 12px;
      margin-bottom: 15px;

      & svg {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        margin-right: 5px;
      }
    }
  }
}
