$primary-color: #c4c3ca;
$accent-color: #ffeba7;
$accent-color-hover: #ffefb9;
$base-color: #1f2029;
$element-color: #2a2b38;
$element-light-color: #282936;
$ui-dark: #353742;
$ui-light: #373744;
$active-color: #eae7ff;

$font: 'Poppins', 'Montserrat';
$font-logo: 'Rubik';
