.light-mode {
  --primary-color: rgb(55, 55, 55);
  --accent-color: #4bb0c6;
  --accent-color-hover: #3998ad;
  --base-color: #ffffff;
  --element-color: #e4e4e4;
  --element-light-color: #ffffff;
  --ui-dark: #d2f6ff;
  --ui-light: #edfbfd;
  --active-color: hwb(0 19% 81%);
  --font: 'Poppins', 'Montserrat';
  --font-logo: 'Rubik';
}
.dark-mode {
  --primary-color: hsl(249, 6%, 78%);
  --accent-color: #ffeba7;
  --accent-color-hover: #ffefb9;
  --base-color: #1f2029;
  --element-color: #2a2b38;
  --element-light-color: #282936;
  --ui-dark: #353742;
  --ui-light: #373744;
  --active-color: #eae7ff;
  --font: 'Poppins', 'Montserrat';
  --font-logo: 'Rubik';
}
