@use '@styles/shared/variables.scss' as *;

.inputgroup {
  &_container {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;

    @media screen and (max-width: 1280px) {
      grid-gap: 40px;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;

    grid-gap: 70px;

    width: 640px;
    height: 100%;

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }
  &_buttons {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    align-self: flex-end;
  }
  &_section {
    display: flex;
    flex-direction: column;

    grid-gap: 25px;
  }
  &_doublerow {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
      flex-direction: column;
      grid-gap: 10px;
    }
  }
  &_addcontent {
    display: flex;
    align-items: center;

    height: 50px;
    background: $base-color;
    padding: 0 20px 0 10px;
    border-radius: 10px;

    grid-gap: 10px;

    & p {
      margin-bottom: 15px;
      text-transform: capitalize;
    }
  }
  &_selectfield {
    background: $base-color;
  }
}
