.stages {
  &_container {
    display: flex;
    align-items: flex-start;

    grid-gap: 25px;
    transition: all 0.3s;
    &_completion {
      align-items: center;
    }
  }
  &_stage {
    width: 45px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s;
    &_active {
      width: 89.98px;
    }
    &_line {
      height: 8px;
      transition: all 0.3s;
    }
    &_title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      text-align: center;

      color: rgb(var(--accent-color));
      margin-top: 10px;
      padding: 0;
      transition: all 0.2s;
      opacity: 0;
      position: absolute;
      white-space: nowrap;
      text-transform: capitalize;

      &_completion {
        opacity: 100;
        position: relative;
      }
    }
  }
  &_finish {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    opacity: 0;
    & svg {
      path {
        fill: rgb(var(--accent-color));
      }
    }
    &_completion {
      opacity: 100;
    }
  }
}
