.account {
  &_container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    padding: 2rem 4rem;
    margin-top: auto;
  }
  &_fields {
    margin-left: 7rem;
  }
  &_button {
    width: 100%;

    display: flex;
    justify-content: end;

    align-self: flex-end;
  }
}
