.security {
  &_container {
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  &_sections {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    grid-gap: 45px;
  }

  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #c4c3ca;
    margin-bottom: 25px;
    text-transform: capitalize;
  }

  &_content {
    max-width: 600px;
    width: 100%;

    & h4 {
      color: #c4c3ca;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;

    & p {
      color: rgba(196, 195, 202, 0.7);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 500px;
    }
  }

  &_qr {
    &_container {
      display: flex;
      flex-direction: column;
      grid-gap: 16px;

      margin-top: 32px;
    }

    width: 400px;
    height: fit-content;

    border-radius: 20px;
    background: #373744;

    display: flex;
    align-items: center;
    grid-gap: 16px;
    padding: 14px;

    & img {
      width: 130px;
      height: 130px;
      border-radius: 5px;
    }

    &_input {
      & input {
        width: 140px;
      }

      & button {
        margin-bottom: 10px;
      }

      display: flex;
      align-items: flex-end;
      grid-gap: 16px;
    }

    &_column {
      display: flex;
      flex-direction: column;
      grid-gap: 8px;

      & * {
        margin: 0;
        padding: 0;
      }
      & p {
        color: rgba(196, 195, 202, 0.7);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 500px;
      }
    }
  }
}
