.colorpicker {
  &_select {
    width: 270px;
    height: 325px;

    background: #1f2029;
    border-radius: 10px;
    position: absolute;

    right: -300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 18px;

    &__open {
      animation: slide-in-elliptic-left-fwd 0.7s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      opacity: 1;
      transform: translateY(0px) translateX(0px);
    }
    &__closed {
      animation: slide-out-elliptic-left-bck 0.7s ease-out both;
      opacity: 0;
      pointer-events: none;
    }
  }
  &_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      width: 40px;
      height: 40px;

      border-radius: 10px;
    }
  }
  &_bottom {
    width: 100%;
    height: 40px;

    justify-content: space-between;
    display: flex;

    margin-top: auto;
  }
  &_results {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 10px;
  }
  &_rgb {
    display: flex;
    align-items: center;
    grid-gap: 3px;
    & span {
      width: 40px;
      height: 35px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: #282936;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #c4c3ca;
      position: relative;

      &::after {
        position: absolute;
        bottom: -25px;
        content: '';

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        color: rgba(196, 195, 202, 0.7);
      }
    }

    & span:nth-child(1) {
      &::after {
        content: 'R';
      }
      border-radius: 10px 0px 0px 10px;
    }
    & span:nth-child(2) {
      &::after {
        content: 'G';
      }
    }
    & span:nth-child(3) {
      &::after {
        content: 'B';
      }
      border-radius: 0px 10px 10px 0px;
    }
  }
  &_hex {
    position: relative;
    display: flex;
    justify-content: center;
    & input {
      width: 100px;
      height: 35px;

      background: #282936;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #c4c3ca;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 5px;
      outline: none;
    }

    &::after {
      position: absolute;
      bottom: -25px;
      content: 'HEX';

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      color: rgba(196, 195, 202, 0.7);
    }
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 43.44px;
    height: 43.67px;

    background: rgb(var(--element-light-color));
    border: none;

    border-radius: 10px;
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: hsl(var(--accent-color), calc(100% - 2%));
    }
    &_opened {
      background: rgba(var(--active-color), 0.1);
    }
  }
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -50% 50%;
    opacity: 0;
    z-index: -1000;
  }
  30% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1000px 50%;
    transform-origin: 1000px 50%;
    opacity: 1;
    z-index: 10;
  }
}

@-webkit-keyframes slide-out-elliptic-left-bck {
}
@keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
    transform-origin: 1000px 50%;
    opacity: 1;
  }
  30% {
    opacity: 0;
    z-index: -100;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -60% 50%;
    transform-origin: -30% 50%;
    opacity: 0;
  }
}
