.dashboardpage {
  &_container {
    width: 100%;
    max-height: 100vh;
    padding: 0px 30px;
  }
  &_header {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &_grid {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    grid-gap: 30px;
  }
  &_row {
    display: flex;
    align-items: center;
    grid-gap: 40px;
  }
}
