.activelists {
  &_container {
    height: 290px;
    width: 370px;

    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    padding-right: 10px;

    @media screen and (max-width: 1450px) {
      height: 270px;
    }
  }
  &_none {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & p {
      max-width: 260px;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;

      color: rgba(var(--primary-color), 0.7);
      margin-top: -50px;
    }
  }
}
