@use '@styles/shared/variables.scss' as *;
.progress__bar {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  &__asset {
    display: flex;
    flex-direction: column;
    align-items: center;

    & hr {
      width: 70px;
      height: 2px;

      background-color: rgba($primary-color, 0.7);
      border-color: rgba($primary-color, 0.7);

      border-radius: 31px;
      border: none;
    }
  }
  &__wrapper {
    min-height: 120px;
    min-width: 120px;

    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  &__svg__wrapper {
    position: absolute;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    left: 0;
    right: 0;
  }
  &__circle {
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.7s;
    stroke: $accent-color;
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;

    color: $accent-color;
  }
}
