@import '../../../styles/shared/variables.scss';
.progress__bar {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  &__wrapper {
    min-height: 120px;
    min-width: 120px;

    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-bottom: 30px;
  }
  &__svg__wrapper {
    position: absolute;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    left: 0;
    right: 0;
  }
  &__circle {
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.7s;
    stroke: #ffeba7;
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;

    color: $accent-color;
  }
}
