@use '~normalize.css' as *;
@use './shared/fonts.scss';
@use './shared/variables.scss' as *;
@use './lib/react-colorful.scss' as *;
@use './lib/datepicker.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background: $base-color;
  background-image: url('../assets/images/background.svg');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 10px 10px 10px 1000px $base-color inset;
  -webkit-text-fill-color: $primary-color !important;
  -webkit-background-clip: text;
  -webkit-font-feature-settings: off;
}
* {
  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    font-family: $font !important;
  }
}

//! Class for turning of animations while page is not loaded

// .preload * {
//   animation-duration: 0s !important;
//   -webkit-animation-duration: 0s !important;
//   transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
//     padding 0s, margin 0s !important;
// }

::-webkit-scrollbar {
  width: 4px;
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: $ui-light;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  &_container {
    display: flex;
    align-items: flex-start;

    height: 100vh;
    overflow: auto;
    overflow-y: overlay;
  }
}
.page_content {
  width: 100%;
  margin-left: 360px;
  margin-top: 30px;
}
