@import '~normalize.css';
@import './shared/fonts.scss';
@import './shared/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background: #21232d;
  padding: 50px;
}
