@import '~normalize.css';
@import '/src/styles/shared/fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
a {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2029;
}
