@import '../../../styles/shared/variables.scss';

.profile {
  &_container {
    width: 100%;

    display: flex;
    align-items: center;

    margin-top: 50px;
  }
  &_avatar {
    border-radius: 100px;
    overflow: hidden;
    width: 50px;
    height: 50px;

    & img {
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      max-height: 50px;

      object-fit: cover;
    }
  }
  &_info {
    margin-left: 10px;
    & h5 {
      margin: 0;
      padding: 0;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: rgba($primary-color, 0.7);
    }
    & p {
      margin: 0;
      margin-top: 3px;
      padding: 0;

      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;

      color: rgba($primary-color, 0.5);
    }
  }
  &_expand {
    background: none;
    border: none;

    margin-left: auto;
  }
}
