.button {
  &_primary {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(var(--accent-color));
    border-radius: 10px;
    border: none;

    font-style: normal;
    text-transform: uppercase;

    color: #1f2029;
    transition: all 0.1s;
    position: relative;
    & svg {
      width: 30px;
      height: 30px;

      fill: rgb(var(--base-color));

      & path {
        fill: rgb(var(--base-color));
      }
    }

    &:hover {
      cursor: pointer;
      background: rgba(var(--accent-color), 90%);
    }
  }
  &_secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #282936;
    border-radius: 10px;
    border: none;

    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;

    transition: all 0.1s;
    color: rgba(var(--primary-color), 0.7);
    position: relative;
    & svg {
      width: 30px;
      height: 30px;

      fill: rgba(var(--primary-color), 0.7);

      & path {
        fill: rgba(var(--primary-color), 0.7);
      }
    }

    &:hover {
      cursor: pointer;
      color: rgb(var(--primary-color)) !important;
      background: rgb(var(--ui-light));
      & svg {
        fill: rgb(var(--primary-color));
        & path {
          fill: rgb(var(--primary-color));
        }
      }
    }
  }
  &_small {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    padding: 9px;
    border-radius: 10px;
    border: none;

    transition: all 0.1s;
    position: relative;

    & svg {
      width: 30px;
      height: 30px;

      fill: rgba(var(--primary-color), 0.7);

      & path {
        fill: rgba(var(--primary-color), 0.7);
      }
    }

    &:hover {
      cursor: pointer;

      background: rgba(var(--primary-color), 0.1);
      & svg {
        fill: rgb(var(--primary-color));
        & path {
          fill: rgb(var(--primary-color));
        }
      }
    }
  }
}
