@use '@styles/shared/variables.scss' as *;
.button {
  &_primary {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $accent-color;
    border-radius: 10px;
    border: none;

    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #1f2029;
    transition: all 0.1s;
    & svg {
      width: 30px;
      height: 30px;

      fill: $base-color;

      & path {
        fill: $base-color;
      }
    }

    &:hover {
      cursor: pointer;
      background: lighten($accent-color, 5);
    }
  }
  &_secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #282936;
    border-radius: 10px;
    border: none;

    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: all 0.1s;
    color: rgba($primary-color, 0.7);
    & svg {
      width: 30px;
      height: 30px;

      fill: rgba($primary-color, 0.7);

      & path {
        fill: rgba($primary-color, 0.7);
      }
    }

    &:hover {
      cursor: pointer;
      color: $primary-color !important;
      background: $ui-light;
      & svg {
        fill: $primary-color;
        & path {
          fill: $primary-color;
        }
      }
    }
  }
  &_small {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    padding: 9px;
    border-radius: 10px;
    border: none;

    transition: all 0.1s;
    & svg {
      width: 30px;
      height: 30px;

      fill: rgba($primary-color, 0.7);

      & path {
        fill: rgba($primary-color, 0.7);
      }
    }

    &:hover {
      cursor: pointer;

      background: rgba($primary-color, 0.1);
      & svg {
        fill: $primary-color;
        & path {
          fill: $primary-color;
        }
      }
    }
  }
}
