.settingspage {
  &_container {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    grid-gap: 3rem;
  }
  &_content {
    padding: 0.5rem 2rem;

    @media screen and (max-width: 1450px) {
      padding: 0.3rem 1.5rem;
    }
  }
}
