.select {
  &_container {
    width: fit-content;
    height: 48.86px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(var(--base-color));
    border-radius: 10px;
    position: relative;

    border-right: 10px solid rgb(var(--base-color));
  }
  &_item {
    min-width: 135px;
    max-width: 135px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    cursor: pointer;
    background: none;
    border: none;

    & span {
      margin-right: 5px;
      margin-top: 2px;
      & svg {
        transition: all 0.1s;
        fill: rgba(var(--primary-color), 0.7);

        & path {
          transition: all 0.1s;
          fill: rgba(var(--primary-color), 0.7);
        }
      }
    }
    & p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      transition: all 0.1s;
      text-transform: capitalize;
      color: rgba(var(--primary-color), 0.7);
    }

    &_active {
      transition: all 0.1s;
      & p {
        color: rgb(var(--primary-color));
      }
      & span {
        & svg {
          fill: rgb(var(--primary-color));
          & path {
            fill: rgb(var(--primary-color));
          }
        }
      }
    }

    &:hover {
      & span {
        & svg {
          fill: rgb(var(--primary-color));
          & path {
            fill: rgb(var(--primary-color));
          }
        }
      }
      & p {
        color: rgb(var(--primary-color));
      }
    }
  }

  &_active {
    height: 80%;
    position: absolute;

    background: rgb(var(--ui-light));
    border-radius: 10px;
    left: 5px;
    z-index: 0;

    transition: all 0.4s;
  }
}
