@use '@styles/shared/variables.scss' as *;
.select {
  &_container {
    width: fit-content;
    height: 48.86px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $base-color;
    border-radius: 10px;
    position: relative;

    border-right: 10px solid $base-color;
  }
  &_item {
    min-width: 135px;
    max-width: 135px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    cursor: pointer;
    background: none;
    border: none;

    & span {
      margin-right: 2px;
      & svg {
        transition: all 0.1s;
        fill: rgba($primary-color, 0.7);

        & path {
          transition: all 0.1s;
          fill: rgba($primary-color, 0.7);
        }
      }
    }
    & p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      transition: all 0.1s;
      color: rgba($primary-color, 0.7);
    }

    &_active {
      transition: all 0.1s;
      & p {
        color: $primary-color;
      }
      & span {
        & svg {
          fill: $primary-color;
          & path {
            fill: $primary-color;
          }
        }
      }
    }

    &:hover {
      & span {
        & svg {
          fill: $primary-color;
          & path {
            fill: $primary-color;
          }
        }
      }
      & p {
        color: $primary-color;
      }
    }
  }

  &_active {
    height: 80%;
    position: absolute;

    background: $ui-light;
    border-radius: 10px;
    left: 5px;
    z-index: 0;

    transition: all 0.7s;
  }
}
