.profilepage {
  &_container {
    display: flex;
    grid-gap: 30px;

    @media screen and (max-width: 1898px) {
      flex-direction: column;
    }
  }
  &_listsinfo {
    display: flex;
    flex-direction: column;
    grid-gap: 18px;
  }
}
