.lists {
  &_container {
    display: flex;
    align-items: center;

    width: 1080px;

    flex-wrap: wrap;
    grid-gap: 14px;

    @media screen and (max-width: 1900px) {
      width: 900px;
    }
  }
}
