.firststage_animate_incorrect {
  -webkit-animation: wobble-hor-bottom 0.4s both;
  animation: wobble-hor-bottom 0.4s both;
}

.firststage_animate_correct {
  -webkit-animation: scale-out-center 0.15s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
    transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
    transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(6deg);
    transform: translateX(5px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-3.6deg);
    transform: translateX(-5px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
