.navigation {
  &_container {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 30px;

    @media screen and (max-width: 1450px) {
      margin-top: 20px;
    }
  }
  &_content {
    & a {
      text-decoration: none;
    }
  }
}
