.cookies {
  &_container {
    width: 440px;
    height: 160px;

    background: #2a2b38;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;

    padding: 20px;
    & p {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;

      color: rgba(196, 195, 202, 0.7);
      margin: 0;
      padding: 0;

      margin-top: 10px;
    }
  }
  &_header {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    & img {
      width: 38px;
    }
    & h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      display: flex;
      align-items: center;

      color: #c4c3ca;
    }
  }
}
