.listmanagement {
  &_container {
    width: 100%;
  }
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &_lists {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
  &_control {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
  &_content {
    margin-top: 30px;
  }
  &_list {
    &_addition {
      position: relative;
    }
    &_actions {
      position: absolute;
      top: 30px;
      right: 0px;
    }
  }
}
