@use '@styles/shared/variables.scss' as *;

.input {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    & input {
      width: 100%;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;

      background: #1f2029;
      border-radius: 10px;
      color: $primary-color;
      border: none;
      padding: 15px 15px;
      outline: none;

      &::placeholder {
        font-weight: 500;
        line-height: 20px;
        color: rgba($primary-color, 0.7);
      }
    }
  }
  &_icon {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      & path {
        fill: $accent-color;
      }
      fill: $accent-color;
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
    }
  }
  &_content {
    position: absolute;
    right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;

    & svg {
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
      & path {
        fill: $primary-color;
      }
      fill: $primary-color;
    }
  }
  &_error {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    & svg {
      max-height: 24px;
      max-width: 24px;
      min-height: 24px;
      min-width: 24px;
    }
    & p {
      margin: 1px 0 0 10px;
      padding: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      color: rgba($primary-color, 0.7);
    }
  }
}
