.page {
  &_container {
    width: 1500px;
    height: 919px;

    background: rgba(var(--element-color), 0.25);
    backdrop-filter: blur(45px);

    border-radius: 10px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto auto;

    transition: height 0.2s;

    @media screen and (max-width: 1901px) {
      width: 96%;
    }
  }
  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: rgb(var(--primary-color));
    margin: 0;
    padding: 0;
    @media screen and (max-width: 1450px) {
      font-size: 20px;
    }
  }
  &_content {
    width: 100%;
    margin-top: 30px;
    @media screen and (max-width: 1450px) {
      margin-top: 20px;
    }
  }
}
