.greeting {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 51px;

      color: rgb(var(--primary-color));

      @media screen and (max-width: 1450px) {
        font-size: 28px;
      }
    }
    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 31px;

      color: rgba(var(--primary-color), 0.7);
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1450px) {
        font-size: 19px;
      }
    }
  }
}
