.appearance {
  &_container {
    height: 700px;
  }
  &_sections {
    display: flex;
    flex-direction: column;

    grid-gap: 45px;
  }

  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #c4c3ca;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
}

.inactive {
  opacity: 0.4;
  user-select: none;

  position: relative;

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    cursor: default;
    background: transparent;
    content: '';
  }
}
