@use '@styles/shared/variables.scss' as *;

.steps {
  &_container {
    display: flex;
    align-items: center;
  }
  &_item {
    &-container {
      display: flex;
      align-items: center;
    }
    &_round {
      width: 130px;

      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s;
      position: relative;

      cursor: pointer;
      user-select: none;

      & span {
        width: 33px;
        height: 33px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid;
        border-radius: 50px;
        transition: all 0.2s;

        & b {
          font-size: 1.1em;
          font-style: normal;
          font-weight: 600;

          padding: 0;
          margin: 0;
          transition: all 0.2s;
        }
      }

      & p {
        font-style: normal;
        font-weight: 700;
        font-size: 0.9em;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        transition: all 0.2s;
      }
    }
    &_state {
      &_inactive {
        & span {
          border-color: #353742;
          & b {
            color: #353742;
          }
        }
        & p {
          color: #353742;
        }
      }
      &_active {
        & span {
          border-color: $accent-color;

          & b {
            color: $accent-color;
          }
        }
        & p {
          color: $accent-color;
        }
      }
      &_complete {
        & span {
          border-color: rgba($accent-color, 0.6);

          & b {
            color: rgba($accent-color, 0.6);
          }
        }
        & p {
          color: rgba($accent-color, 0.6);
        }
      }
    }
  }
  &_line {
    &_container {
      width: 88px;
      height: 2px;

      background: #353742;
      position: absolute;
      left: 66%;
      top: 20%;

      display: flex;
      align-items: center;
      overflow-x: hidden;
    }
    &_common {
      height: 2px;
      width: 100%;
      background: rgba($accent-color, 0.6);
      border: none;
      transition: all 0.4s;

      margin: 0;
      padding: 0;
    }
    &_inactive {
      transform: translateX(-100px);
    }
    &_complete {
      transform: translateX(0);
    }
  }
}
