.letterbox {
  &_container {
    width: 45px;
    height: 45px;

    border: 2px solid rgba(var(--primary-color), 0.7);
    border-radius: 10px;
    background-color: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    color: transparent;
    cursor: default;
    user-select: none;
    position: relative;

    &_filled {
      width: 45px;
      height: 45px;

      background: rgb(var(--primary-color));
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 26px;
      color: rgb(var(--base-color));
      border: 2px solid rgba(var(--primary-color), 0.7);

      text-transform: uppercase;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
    }
    &_complete {
      -webkit-transition: background-color 0.3s linear;
      -ms-transition: background-color 0.3s linear;
      transition: background-color 0.3s linear;
      background: rgb(var(--accent-color)) !important;
      border: 2px solid rgba(var(--accent-color), 0.7);
    }
  }
}
