.card {
  &_container {
    width: fit-content;
    min-height: 390px;
    max-height: 390px;
    height: 390px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    border-radius: 10px;
    padding: 23px 26px;
    user-select: none;
    z-index: 1;

    @media screen and (max-width: 1450px) {
      width: fit-content;
      min-height: 370px;
      max-height: 370px;
      height: 370px;
      padding: 19px 22px;
    }

    &::after {
      content: '';
      position: absolute;

      width: 100%;
      height: 100%;
      background: rgba(var(--element-color), 0.25);
      backdrop-filter: blur(22.5px);

      z-index: -5;
      top: 0;
      border-radius: 10px;
      left: 0;
    }
  }
  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: rgb(var(--primary-color));
    margin: 0;
    padding: 0;
    text-transform: capitalize;

    @media screen and (max-width: 1450px) {
      font-size: 16px;
    }
  }

  &_descirpiton {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;

    color: rgba(var(--primary-color), 0.7);
    margin: 8px 0 0 0;
    padding: 0;

    @media screen and (max-width: 1450px) {
      font-size: 14px;
    }
  }
  &_content {
    margin-top: 10px;
    @media screen and (max-width: 1450px) {
      margin-top: 6px;
    }
  }
}
