@use '@styles/shared/variables.scss' as *;

.actions {
  &_container {
    width: 150px;
    height: fit-content;

    background: $element-color;
    border-radius: 10px;
    padding: 8px 8px;

    display: flex;
    flex-direction: column;
    grid-gap: 3px;
  }
  &_item {
    width: 100%;
    background: none;
    border: none;

    padding: 6px 9px;
    transition: all 0.1s;
    border-radius: 5px;

    &:hover {
      background: rgba($active-color, 0.1);
      cursor: pointer;
    }

    & p {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      text-align: left;

      color: rgba(196, 195, 202, 0.7) !important;

      margin: 0;
      padding: 0;
    }
  }
}
