.usercard {
  &_container {
    width: 365px;
    height: 500px;

    background: rgb(var(--element-light-color));
    backdrop-filter: blur(45px);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 35px;
    @media screen and (max-width: 1900px) {
      flex-direction: row;
      width: 100%;
      grid-gap: 30px;
      height: fit-content;
      max-width: 1050px;
    }

    @media screen and (max-width: 1500px) {
      max-width: 690px;
    }
  }
  &_avatar {
    & svg {
      width: 150px;
      height: 150px;
      border-radius: 100%;
    }
    & img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    @media screen and (max-width: 1900px) {
      align-items: flex-start;
      width: 300px;
    }
    & h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: rgb(var(--primary-color));
      padding: 0;
      margin: 15px 0 0 0;
    }
    & p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: rgba(var(--primary-color), 0.7);

      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 0 0 -10px;
      & svg {
        margin-right: 4px;
        & path {
          fill: rgba(var(--primary-color), 0.7);
        }
      }
    }
  }
}
