.statistics {
  &_container {
    height: 290px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_graph {
    width: 660px;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
  }
}
