.colorpicker {
  &_container {
    width: fit-content;
    padding: 14px 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background: rgb(var(--base-color));
    border-radius: 10px;
    position: relative;
  }
  &_pallete {
    max-width: 205px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
    grid-area: 1 / 1 / 3 / 3;
  }
  &_result {
    display: flex;
    align-items: center;

    padding: 10px 15px;
    width: 145.58px;
    height: 43.67px;

    background: rgb(var(--element-light-color));
    border-radius: 10px;
    border: none;

    margin-left: 30px;

    grid-area: 1 / 3 / 2 / 4;
    justify-self: flex-end;
    transition: all 0.2s;

    & p {
      margin-left: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgb(var(--primary-color));
    }
  }
  &_custom {
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 43.44px;
      height: 43.67px;

      background: rgb(var(--element-light-color));
      border: none;

      border-radius: 10px;
      grid-area: 2 / 3 / 3 / 4;
      align-self: center;
      justify-self: flex-end;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background: hsl(var(--accent-color), 20%);
      }
      &_opened {
        background: rgba(var(--active-color), 0.1);
      }
    }
  }
  &_color {
    width: 45px;
    height: 45px;

    border-radius: 10px;
    border: none;
    background: none;
    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: rgb(var(--element-light-color));
    }
    &active {
      background: rgba(var(--active-color), 0.1);
    }

    & p {
      min-width: 34px;
      min-height: 34px;
      max-width: 34px;
      max-height: 34px;
      border-radius: 30px;
    }
  }
}
